.create-player {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 200px;
}

.create-player__form-element {
    padding: 4px 8px;
    border: none;
    outline: none;
    background-color: var(--lightColor);
    border-bottom: 4px solid var(--middleColor);
    border-radius: 4px;
}
