.button {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: var(--preDarkColor);
    border: none;
    color: var(--textLightColor);
    cursor: pointer;
    width: 200px;
    height: 50px;
    text-align: center;
    position: relative;
    display: block;
    margin-bottom: 12px;
}
.button::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    background-color: var(--middleColor);
    transition: .35s all;
    translate: 0 0;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
}

.button a:hover .button::after {
    translate: 0 8px;
}