.playboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

.playboard__my-cards, .playboard__enemy-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cards-container {
    display: flex;
    gap: 16px;
}

.playboard__label {
    margin: 0;
}

.playboard__cards {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
}