@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css?family=Roboto');
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Roboto;
  background: url('./images/main_bg1.jpg');
}

a {
  text-decoration: none;
}