:root {
    --lightColor: #F0EDEE;
    --darkColor: #0A090C;
    --preDarkColor: #07393C;
    --middleColor: #2C666E;
    --preLightColor: #90DDF0;
    --textLightColor: white;
    --textDarkColor: black; 
}