:root {
    --lightColor: #A3E7FC;
    --darkColor: #2F0601;
    --preDarkColor: #553A41;
    --middleColor: #32908F;
    --preLightColor: #26C485;
    --textLightColor: white;
    --textDarkColor: black; 
}